/*
------------------------------------------
Prettier login screen by u/TheEpicSnowWolf
based on code by u/bass-blowfish
------------------------------------------
*/

/* Hide world description and session info */
#join-game .right.flexcol, #join-game #world-title h1, #join-game .app h1, #join-game .left.flexcol .app:nth-of-type(2) {
    display: none;
}

/* Login mask width and position */
#join-game {
  width: 400px !important;
  top: calc(50% - 300px) !important;
}

/* Body: Applying blurFade effect to background, having it cover the screen and centering it.
Also converting to flexbox to dynamically vertically center the  section#setup container.There were some calculations being made to vertically center that weren't dynamic enough to suit this setup (i.e. top: calc(50% - 300px).  Perhaps in the future there could be a parent container to section#setup so we wouldn't have to change the <body> to be a flexbox.*/
body.vtt.players {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: blurFade 3s ease-out 1;
}

/* Panels Body Container: Adds zoomOut Animation */
.vtt.players #setup .join-body {
    animation: zoomOut 1s .5s cubic-bezier(0.3, 0.05, 0.24, 1) both;
}

/* Animations */
@keyframes zoomOut {
  0% {
    transform: scale(1.4);
    opacity: 0;
}
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes blurFade {
  0% {
    backdrop-filter: brightness(0) blur(15px);
}
  100% {
      backdrop-filter: brightness(1) blur(0px);
  }
}


/* Logo as world title */
#join-game #world-title {
/*  background: url("https://i.imgur.com/PTjslZo.png");*/
/*  background: url("https://i.imgur.com/ATJ752F.png");*/
    background: url("https://i.imgur.com/AVit6jb.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 240px !important;
  border: none;
  box-shadow: none;
}

/* D&D logo above Foundry watermark */
body.vtt.players .watermark:before {
  display: block;
  content: " ";
  background: url("https://i.imgur.com/I4huWbE.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 25px;
  margin-top: -30px;
  margin-bottom: 5px;
}

/* Restyle inputs */
#join-game input, #join-game select, #join-game button {
  min-height: 40px;
  padding: 10px !important;
  border: none !important;
  font-size: 15px;
  width: 100%;
}

/* Restyle buttons */
#join-game button {
  background: rgb(150, 12, 16);
  border: none;
  color: #fff;
  margin-bottom: 0px !important;
}

#join-game button:hover {
  background: rgb(228, 9, 19);
  box-shadow: none;
}

/* Top align form labels */
#join-game .form-group {
  clear: both;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 0;
  overflow: hidden;
}

#join-game .form-group label {
  line-height: 31px;
  width: 100%;
}

/* Hide placeholder text */
#join-game input[type="password"]::placeholder {
  color:transparent;
}

/* Change login button icon */
#join-game button[name="join"] i.fas.fa-check {
  display: none;
}

#join-game button[name="join"]:after {
  content: "\1F846";
}
